* {

    background: #2f2f2f;
  
    margin: 0;
    /* background-image: "D:\Projects\shankara\valley-landscape-aesthetic-mountains-gradient-background-6318x2633-4589.jpg";
     */
  
     /* background: url('D:\Projects\shankara\valley-landscape-aesthetic-mountains-gradient-background-6318x2633-4589.jpg'); */
  background-image: url(valley-landscape-aesthetic-mountains-gradient-background-6318x2633-4589.jpg)  ;
    background-size: ;
    background-repeat: repeat;
  
    /* background-image: linear-gradient(rgb(3, 25, 82), rgba(0, 8, 255, 0.525)); */
    background-repeat: no-repeat ;
  background-size:cover;
  
    }
  
  body {
  
    height: 100%;
  
    /* display:inline-block; */
  
  place-items: center;
    
  font-family: sans-serif;
  
    height: 100vh;
    top: -12500px;
  }
  h1 {
  
    font-size: 72px;
  
    text-transform: uppercase;
  
    background: linear-gradient(90deg, #8a0707 0%, #450264 75%);
  
    -webkit-background-clip: text;
  
    -webkit-text-fill-color: transparent;
    text-align: start;
    align-self: first baseline;
    position: relative;left:80px; top:2px;
    line-height: 100px;
    text-align: center;
    margin: auto;
    vertical-align: text-top;
    margin: 0px;
    padding: 0px;
    text-align: center;
    top: -150px;
    
  
  }
  .container {
  
    width: 400px;
  
    height: 300px;
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
    margin: 0px;
    padding-bottom: 0px;
    /* margin: auto; */
  background-color: aliceblue;
  box-shadow: none;
  opacity: 10px;
  background: hidden;
  display:inherit
  }
  
  .top {
  
    height: 200px;
  
    width: 200px;
  
    border-radius: 100px 100px 0 0;
  
    display: flex;
  
    flex-direction: column;
  
    justify-content: center;
  
    align-items: center;
  
    background: black;
  
    box-shadow: 0 0 10080px red;
    opacity: 100000%;
  
  }
  
  .tilak {
  
    width: 80px;
  
    height: 10px;
  
    background: white;
  
    margin-bottom: 5px;
  
    border-radius: 10px;
  
    display: flex;
  
    justify-content: center;
  
  }
  
  .dot {
  
    width: 10px;
  
    height: 10px;
  
    background: red;
  
    border: 4px solid darkred;
  
    border-radius: 20px;
  
    position: relative;
  
    top: -4px;
  
  }
  
  .mid {
  
    width: 20%;
  
    height: 60px;
  
    border-radius: 10px 10px 80px 80px;
  
    border: 2px solid #2a2a2a;
  
    z-index: 1;
  
    background: black;
  
  }
  
  .base {
  
    width: 25%;
  
    height: 30px;
  
    border-radius: 40px;
  
    position: relative;
  
    top: -15px;
  
    background: black;
    /* top:38px; */
  
  }